      <%- include('layouts/header.ejs') %>
      <form class="product-form" action="/admin/add-user" method="POST">
            <div class="form-control" style="width:50rem">
                <label for="userName">User</label>
                <input type="text" name="userName" id="userName">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
    
</body>
</html>